* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}
hgroup {
  text-align: center;
  margin-top: 4em;
}
h1, h3 {
  font-weight: 300;
}
h1 {
  color: #636363;
}
h3 {
  color: #4a89dc;
}
form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}
.group {
  position: relative;
  margin-bottom: 35px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: gray;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
}
input:focus {
  outline: none;
}

/* Label */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label {
  top: -20px;
  -webkit-transform: scale(.75);
  transform: scale(.75);
  left: -2px;
  /* font-size: 14px; */
  color: #4a89dc;
}

/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before, .bar:after {
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #4a89dc;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* Animations */

@-webkit-keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 0 solid #3160B6;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.button:focus {
  outline: 0;
}

/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}
.buttonBlue:hover {
  background: #357bd8;
}

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}
.ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
  animation: ripples .4s ease-in;
}

/* Ripples animation */

@-webkit-keyframes ripples {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes ripples {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.card-image {
    height:inherit;
    width:inherit;
}

.card-image img {
    height:inherit;
    width:inherit;
}

.card-content {
    white-space: nowrap;
    overflow: hidden;
}



.card-reveal .card-title-inner {
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    max-width:271px;
    text-overflow:ellipsis;
}

.card-reveal .material-icons {
    display:inline-block;
    width:24px;
}

.nowrap {
    white-space: nowrap;
}

.card-content .card-title .card-title-inner {
    overflow:hidden;
    max-width:287px;
    text-overflow:ellipsis;
    display:table-cell;
}
